.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

.Rbuildignore
.Renviron
.Rprofile
.Rhistory

rsconnect/
app.R

inst/GADM_shp
inst/WHO_shp
inst/preloaded_DHS
sae4health.Rproj
DESCRIPTION_backup
Developer_note.txt
sae4health_1.2.0.tar
